  <!--ユーザ検索機能-->
  <div class = "search-form">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <h6 class = "mr-3">ユーザ検索</h6>
      <%= f.text_field 'search', class: "search mt-2 mb-2" %>
      <%= f.submit '検索',name: nil %>
    <% end %>
  </div>
  <table class = "table table-bordered">
    <tr>
      <td colspan="2">
        <!--ユーザアイコン、登録してなければno_image.jpg-->
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
        <% end %>
      </td>
    </tr>
    <tr>
	    <th class = "th">name</th>
	    <td class = "td">
	      <!--登録したユーザ名前-->
	      <%= link_to user_path(user) do %>
         <%= user.name %>
        <% end %>
	    </td>
    </tr>
    <tr>
      <th class = "th">follows</th>
      <td class = "td">
        <!--フォロー機能-->
        <%= link_to user_followings_path(user) do %>
          <!--フォロー数、フォロー一覧のリンク-->
          <%= user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class = "th">followers</th>
      <td class = "td">
        <!--フォロワー機能、フォロワー一覧のリンク-->
        <%= link_to user_followers_path(user) do %>
          <!--フォロワー数-->
          <%= user.followers.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <!--ユーザ紹介文-->
      <th class = "th introduction">introduction</th>
	    <td class = "introduction ml-2"><%= user.introduction %></td>
    </tr>
  </table>
  <div class = "row">
    <!--もし現在のユーザがログインしたユーザ自身であれば、ユーザ編集機能と投稿機能を表示する-->
    <% if user == current_user %>
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block pt-3 mr-3 ml-3 mb-2 " do %>
      <i class="fas fa-user-cog"><p class = "mt-2">編集する</p></i>
    <% end %>
    <%= link_to new_ogiri_path(@ogiri), class:"btn btn-outline-secondary btn-block text-center pt-3 ml-3 mr-3 mb-2" do %>
      <p>大喜利を投稿する</p>
    <% end %>
    <%= link_to new_ogiri_odai_path, class:"btn btn-outline-secondary btn-block text-center pt-3 ml-3 mr-3 mb-3" do %>
      <p>お題を投稿する</p>
    <% end %>
  </div>
  <div class = "row ">
  <!--フォロー機能-->
  <% elsif current_user.following?(user) %>
    <%= link_to "フォロー外す",  user_relationships_path(user), method: :delete, class: "btn btn-info btn-sm ml-3 mt-2 mb-3" %>
  <% else %>
    <%= link_to "フォローする",  user_relationships_path(user), method: :post, class: "btn btn-success btn-sm ml-3 mt-2 mb-3" %>
  <% end %>
  </div>
  <div class = "row mb-4">
    <%= link_to "いいね一覧", favorites_user_path(user),class:"btn btn-outline-secondary btn-block pt-2 ml-3 mr-3" %>
  </div>
