<div class = "search-form">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.label '検索box' %>
      <%= f.text_field 'search[value]'  %>
      <%= f.select 'search[model]', options_for_select({ "User" => "user", "Ogiri" => "ogiri" }) %>
      <%= f.select 'search[how]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <table class = "table">
    <tr><th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></th></tr>
    <tr>
	    <th class = "th">name</th>
	    <th>
	      <%= link_to user_path(user) do %>
         <%= user.name %>
        <% end %>
	    </th>
    </tr>
    <tr>
      <th>follows</th>
      <th>
        <%= link_to user_followings_path(user) do %>
         <%= user.followings.count %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>followers</th>
      <th>
        <%= link_to user_followers_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>introduction</th>
	    <th class = "introduction ml-2"><%= user.introduction %></th>
    </tr>
  </table>

  <div class = "row">
    <% if user == current_user %>
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block pt-3 m-3 " do %>
      <i class="fas fa-user-cog"><p class = "mt-2">編集する</p></i>
    <% end %>
    <%= link_to new_ogiri_path(@ogiri), class:"btn btn-outline-secondary btn-block text-center pt-3 ml-3 mr-3" do %>
      <p>投稿する</p>
    <% end %>
  </div>
  <div class = "row ">
  <% elsif current_user.following?(user) %>
    <%= link_to "フォロー外す",  user_relationships_path(user), method: :delete, class: "btn btn-info btn-sm ml-3 mt-2" %>
  <% else %>
    <%= link_to "フォローする",  user_relationships_path(user), method: :post, class: "btn btn-success btn-sm ml-3 mt-2" %>
  <% end %>
  </div>
