
  <div class = "border col-md-11 offset-md-1 mb-3">
    <div class = "mt-2">
      <%= link_to user_path(ogiri.user) do %>
        <%= attachment_image_tag(ogiri.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
        <%= ogiri.user.name %>
      <% end %>
    </div>
    <% if ogiri.image.present? %>
      <div class = "text-center">
        <a class = "ogiri-image">
          <%= link_to ogiri_path(ogiri), class: "link" do %>
            <%= attachment_image_tag(ogiri, :image, :fill, 410, 150) %>
          <% end %>
        </a>
        <div>
          <%= link_to ogiri_path(ogiri), class: "link" do %>
            <h5 class = "answer-size mt-3">解答：<%= ogiri.answer %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if ogiri.ogiri_odai.present? %>
      <div class = "text-center">
        <div class = "ogiri-odai-image">
          <%= link_to ogiri_path(ogiri), class: "link" do %>
            <%= image_tag "ogiri2.png" %>
            <p><%= ogiri.ogiri_odai %></p>
          <% end %>
        </div>
        <div>
          <%= link_to ogiri_path(ogiri), class: "link" do %>
            <h5 class = "answer-size mt-3">解答：<%= ogiri.answer %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="favorite-btn_<%= ogiri.id %> favorite">
      <%= ogiri.created_at.strftime('%Y/%m/%d') %>
      <%= link_to ogiri.genre_name, search_genre_path(keyword: ogiri.genre_name),class: "mr-2 ml-2" %>
      いいね <%= render "favorites/favorite-btn", ogiri: ogiri %>
      <%= link_to '大喜利詳細へ→', ogiri_path(ogiri), class: "show-page" %>
    </div>
  </div>

