<% if @users.empty? %>
<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'style="margin-top:100px;">
      <h3 class = "mb-4"> 検索結果 : <%= @search %> は存在しません。</h3>
    </div>
  </div>
</div>
<% else %>
  <div class = "container px-5 px-sm-0">
    <div class = "row">
      <div class = "col-md-3 border-info" style="margin-top:150px;">
        <%= render 'users/info', user: current_user %>
      </div>
      <div class = 'col-md-6 offset-md-1'style="margin-top:100px;">
        <h3 class = "mb-4"> 検索結果 : <%= @search %></h3>
          <% @users.each do |user| %>
            <table class = "table">
                <tr>
                  <th>
                    <%= link_to user_path(user) do %>
                      <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                    <% end %>
                  </th>
                </tr>
                <tr>
	                <th>name</th>
	                <th>
	                  <%= link_to user_path(user) do %>
                     <%= user.name %>
                    <% end %>
	                </th>
                </tr>
                <tr>
                  <th>follows</th>
                  <th>
                    <%= link_to user_followings_path(user) do %>
                     <%= user.followings.count %>
                    <% end %>
                  </th>
                </tr>
                <tr>
                  <th>followers</th>
                  <th>
                    <%= link_to user_followers_path(user) do %>
                      <%= user.followers.count %>
                    <% end %>
                  </th>
                </tr>
                <tr>
                  <th>introduction</th>
	                <th class = "introduction ml-2"><%= user.introduction %></th>
                </tr>
              </table>
          <% end %>
      </div>
    </div>
  </div>
<% end %>